---
layout: default
---

<div class="home">
  

<p style="text-align: justify; ">I am Rishabh Jangir, a final year undergraduate B.Tech student at <a href="http://www.iitg.ac.in/">Indian Institute of Technology Guwahati</a> majoring in Physics. Research Intern at <a href="http://robotics.iiit.ac.in/">Robotics Research Center</a>, <a href="https://www.iiit.ac.in/">IIIT Hyderabad</a>. Former Secretary at Robotics Club, IIT Guwahati. 
Roboticist, tech-savvy innovator, excited by electrons. 
</p>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Featured pages: <a href="/research/">Research page</a> | <a href="/robots/">DIY Robot hacks</a> | <a href="/assets/RISHABH_JANGIR_CV.pdf">Curriculum Vitae</a>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<center><img src="/assets/home/main.png" width="100%"></center>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p style="text-align: justify; ">
My major contributions and interests are in the application oriented extensions of robotics, artificial intelligence and computer vision. I have a personal motivation towards soft reconfigurable robotics and internet of things.
I am actively involved in the Robotics Research Center of IIIT Hyderabad as a Researcher under <b>Dr. K Madhava Krishna</b>. I am doing research in my bachelors' thesis project under <b>Dr. Prithwijit Guha</b>, IIT Guwahati. As a researcher I have intensively worked on:

<table cellpadding="0px"cellspacing="40px">
  <tr align="left">
    <td><b><u>Reinforcement Learning</u></b></td>
    <td><b><u>Learning from Demonstration</u></b></td>
    <td><b><u>Inverse Reinforcement Learning</u></b></td>
  </tr>
  <tr align="left">
    <td><b><u>Visual navigation and SLAM</u></b></td>
    <td><b><u>Monocular SLAM systems</u></b></td>
    <td><b><u>Autonomous Aerial Vehicles</u></b></td>
  </tr>
  <tr align="left">
    <td><b><u>3D stereo reconstruction</b></u></td>
    <td> Visit <a href="/research/">Research page</a> to read more. </td>
    
  </tr>
</table>

<p></p>


<p style="text-align: justify; ">My recent work has strengthened my belief towards artificial intelligence and its application in the field of robotics, I believe that some of the very challenging problems in robotics can be tackled through machine intelligence. My current research interests revolve around <b>deep reinforcement learning, multi robot co-ordination</b> and <b>human-robot interaction.</b><br></br>

Over the course of my undergraduate studies I squeezed in three internships, two internships in computer vision and robotics at the above mentioned lab and one internship in IoT and embedded systems at a startup, SimpleLabs, where I worked on wireless data transfer protocols and networks in <b>bluetooth low energy</b>.</p>

<br></br>
<p style="text-align: justify; ">One of the best experiences in my undergraduate college life has been my involvement with the Robotics Club, IIT Guwahati. I headed the chair as the Secretary, Robotics Club 2015-16, leading a team of over 50 undergraduate students to work on a multitude of projects throughout the year. Visit <a href="/club/">page</a> to know more. During my term I was actively involved in conducting lectures and workshops in my college community and organizing various competitions. 
<br></br>
<div class="imgcap">
<center><img src="/assets/home/me.png" width="100%"></center>
</div>

<br></br>

<p style="text-align: justify; ">On a side for fun I <a href="/theBlog/">blog</a>, tweet, take part in Hackathons and build robots! Don't forget to check out my <a href="/robots/">DIY Robot hacks.</a></p>
      <!--/div>
    </div-->




</div>
